.container
{
    display: flex;
}

.main_area
{
    width: calc(100% - var(--online-mathisis-chapterbar-width));
    height: calc(100vh - var(--online-mathisis-topbar-height));
}


.tab_layout
{
    height: var(--online-mathisis-course-tab-layout-height);
}


.tabview
{
    padding-top: var(--online-mathisis-course-tab-view-padding);
    padding-left: var(--online-mathisis-course-tab-view-padding);
    padding-right: var(--online-mathisis-course-tab-view-padding);
}


.course_name
{
    font-size: 1.4rem;
    font-style: italic;
    text-align: center;
    overflow-x: auto;
}


.divider
{
    margin-bottom: 0.5rem;
}


.chapterview
{
    width: var(--online-mathisis-chapterbar-width);
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-left-style: solid;
    border-top-style: solid;
    border-top-left-radius: 0.4rem;
    border-width: 0.1rem;
    padding: 0.5rem;
}
