.container
{
    display: flex;
}


.main_area
{
    width: calc(100% - var(--online-mathisis-chapterbar-width));
    height: calc(100vh - var(--online-mathisis-topbar-height));
}


.chapterview
{
    background-color: blue;
}